.jp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 70px 200px;

  .menu {
    color: red;
    font-weight: 700;
  }
  .menu:hover {
    color: #ec3535 !important;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  &__right__account {
    color: black;
    font-weight: 700;
  }

  &__right__login_cover {
    padding: 8px !important;
  }

  &__right__subscribe {
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 5px !important;
  }
  &__right__subscribe:hover {
    background-color: black !important;
  }

  &__center {
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    color: red;
    font-family: Georgia, serif;
    position: relative;
  }
  &__center_subHeader {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    position: absolute;
    top: -22px;
    right: -8px;
    color: black;
  }
  &__content__left {
    display: flex !important;
    align-items: center !important;
    gap: 15px !important;
  }

  &__content_left_search {
    width: 200px;
  }
}

.jp-header-modal {
  &__header {
    display: flex;
    align-items: center;
    width: 900px;
    height: 400px;
  }

  &__right__title {
    font-size: 30px;
    font-weight: 700;
  }
  &__right {
    margin-left: 50px;
  }
  &__right__list__cover {
    list-style: none;
    padding: 0;
  }
  &__right__list {
    padding: 5px 0;
  }
  &__right__link {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
  &__right__list:hover a {
    color: red;
  }

  &__left {
    background-color: red;
    width: 350px;
    height: 100%;
    padding: 40px;

    .ant-image-mask {
      display: none;
    }
  }
  &__subscribe__btn__cover {
    text-align: center;
    margin-top: 70px;
  }
  &__subscribe__btn {
    padding: 20px;
    color: red;
    font-weight: 600;
    background-color: white;
  }
  &__subscribe__btn:hover {
    color: black;
  }

  &__left__image {
    height: 200px !important;
    width: 270px;
  }

  &__left__title {
    text-align: center;
    color: white;
    font-weight: 700;
  }
}
